.header_wrapper{
    width: 100vw;
    background-color: pink;
   /* background-color: var(--dark-brown-color); */
    display: flex;
    justify-content: center;
    
}

.header_inner_wrapper{
    max-width: 1400px;
    width: 90vw;
    padding: 1rem 0;
    background-color: transparent !important;
    flex-wrap: nowrap;
    justify-content: flex-start;
}
.header_buttons{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 1rem;
  font-size: 2rem;
  color: var(--gold-text-color);
  text-decoration: none;

  position: relative;
  cursor: pointer;
}
.header_buttons:hover, .header_buttons.active {
  color: white;
}



.header_brand_container {
    width: 100%;
    height: 5rem;
    display: flex;
}

:root {
  --yumtea_logo_width: 20rem;
  --toggle_button_width: 56px;
}
@media all and (max-width: 991.98px) {
  
  :root {
    --yumtea_logo_width: 5rem;
  }
}
#yumtea_logo {
  width: var(--yumtea_logo_width);
  
  /* height: 100%; */
  display:inline-block;
  background-color: var(--gold-text-color);
  -webkit-mask:url("http://127.0.0.1:8001/yumtea_logo.png");
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;

}
@media all and (max-width: 991.98px) {

  #yumtea_logo {
    width: var(--yumtea_logo_width);
    -webkit-mask:url("http://127.0.0.1:8001/yumtea_logo_Char.png");
    mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  }
}
.toogle_button {
  width: var(--toggle_button_width);
}
@media all and (max-width: 1199.98px) {
  .header_brand_container {
    padding-left: calc(45vw - var(--yumtea_logo_width)/2 - var(--toggle_button_width));
    
  }
}






.header_drinks_box, .header_user {
  position: relative;
  background-color: rgb(191, 183, 160);
  padding: 1rem 2rem;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  color: black;
  margin: 1px 0;
  text-decoration: none !important;
}

.top{
  border-radius: var(--bs-modal-border-radius) var(--bs-modal-border-radius) 0 0;
  margin-top: 0;
  
}
.bottom {
  border-radius: 0 0 var(--bs-modal-border-radius) var(--bs-modal-border-radius);
  border-bottom: none;
  margin-bottom: 0;

}
.header_drinks_link,.header_user_link {

  text-decoration: none;
  cursor: pointer;
}

.header_drinks_box:hover, .header_user_box:hover {
  background-color:rgb(139, 132, 113);
  color: white;
}
.header_user_button {
 display: flex;
 flex-direction: row;
 align-items: center;
 font-size: 1.5rem;
 color: var(--gold-text-color);
 background-color: transparent;
 text-decoration: none;
}

.header_user_name {
  color: var(--gold-text-color);
  /*padding: 0 0.5rem;*/
  text-wrap: nowrap;
  font-size: 2rem;
}
.header_user_button:hover, .header_user_name:hover{
  color: white;
}
.navbar-nav .nav-link.dropdown-toggle::after {
  display: none !important;
}
.nav-dropdown-item:hover {
  color: white; /* Change text color on hover */
  background-color: var(--gold-text-color);/* Optional: change background color */
}

/*.nav-dropdown-item:hover::after {*/
/*  content: " (Logging out...)"; !* Appends text to the link when hovered *!*/
/*  font-size: 0.8em; !* Adjust font size *!*/
/*  color: red; !* Optional: change color of the appended text *!*/
/*}*/

@media all and (max-width: 991.98px) {
  .header_user_name {
    display: none;
  }
}

.user_dropdown_modal, .category_dropdown_modal {
  width: 13rem !important;
  position: absolute;
  top: 4rem;
}
.user_dropdown_modal {
  right: 4.75rem;
}
.category_dropdown_modal{
  right: 14rem;
}


  
  .header_text {
  
    /* mix-blend-mode: difference; */
      color: var(--header_text_color);
  }
  
  
  
  
  .header_features {
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: white;
    align-items: center;
  
  }
  .collapsable_items {
    display: flex;
    align-items: center;
    
  
  }
  .collapsable_item_link{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    text-decoration: none;
  }
  #navbarScrollingDropdown::after{
    display: none; 
  }
  .header_dropdown_bar_button, .header_dropdown_x_button, .header_icon {
    color: black;
    font-size: 2rem;
    
  }
  
  .header_md_fullscreen_dropdown {
    position: absolute;
    color: black;
    background-color: #d1c089;
    width: 100%;
    left: 0;
    top: 48px;
    height: 100vh;
    z-index: 205;
  }
  
   /* @media all and (max-width: 991.98px) {
    .header_features{
      justify-content: flex-end;
    }
    .navbar-collapse {
      position: absolute;
      top: 60px;
      left: 0px;
      background-color:  rgb(245, 237, 207);
      width: 100%;
      height: 100vh;
    }
    .header_md_dropdown {
      text-align: center;
      font-weight: bold; 
    }
    .header_nav_x_btn {
      display: block;
    }
    .dropdown-menu{
      /* top: 35px; */
      /* text-align: center;
      border: 0;
    }
    .collapsable_items {
      flex-direction: column;
    }
    .header_text {
      font-size: 1.5rem;
    }
    .single_cat_text{
      font-size: 1rem !important;
    }
  
  } */