
.header_full_wrapper{
    width: 100vw;
    /*background-color: pink;*/
    background-color: var(--dark-brown-color);
    display: flex;
    justify-content: center;
    
}
.header_wrapper{
  background-color: var(--dark-brown-color) !important;
  display: flex
;
  justify-content: space-between;
  width: var(--body-width);
  margin-right: 2rem;
}
@media all and (max-width: 768px) {

  .header_wrapper{
    padding-left: 1rem;
    padding-right: 1rem;
    margin-right: 0;
    height: 6rem;
  }
}

.header_left_wrapper{
  display: flex;
  /*padding: 1rem 0;*/
  /*background-color: transparent !important;*/
  /* flex-wrap: nowrap; */
  justify-content: flex-start;
   align-items: center;
  flex-direction: row;
}
.header_right_wrapper{
  display: flex
;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.header_buttons{
  display: flex;
  flex-direction: row;
  align-items: center;
/*center  margin: 0 1rem;*/
  font-size: 2rem;
  color: var(--gold-text-color);
  text-decoration: none;

  position: relative;
  cursor: pointer;
}
.header_buttons:hover, .header_buttons.active {
  color: white;
}



.header_brand_container {
    width: var(--yumtea_logo_width);
    height: 5rem;
    display: flex;
  padding: 0 0.5rem;
}


.mask {
  /*-webkit-mask-image: url("http://localhost:3000/logo/yumtea_logo.png");*/
  mask-image: url("http://localhost:3000/logo/yumtea_logo.png");
  mask-repeat: no-repeat;
  mask-size: calc(var(--yumtea_logo_width) - 1rem) 5rem;
  width: 100%;
  height: 100%;
}
.logoBg {
  background-color: var(--gold-text-color);
  width: 100%;
  height: 100%;

}
.logoBg:hover {
  background-color: white;
}


  @media all and (max-width: 991.98px) {

    .mask {
      -webkit-mask-image: url("http://localhost:3000/logo/yumtea_logo_char.png");
      mask-image: url("http://localhost:3000/logo/yumtea_logo_char.png");
      mask-repeat: no-repeat;
      mask-size: calc(var(--yumtea_logo_width) - 1rem) 5rem;
      width: 100%;
      height: 100%;
    }

  }
  @media all and (max-width: 768px) {
    .header_brand_container{
      position: absolute;
      top: 8px;
      left: calc(50vw - (var(--yumtea_logo_width) / 2));
      z-index: 1400;
    }
    #yumtea_logo {
      width: 45px;
      height: 45px;
      /*display:inline-block;*/
      background-color: black;
      -webkit-mask:url("http://localhost:3000/logo/yumtea_logo_Char.png");
      mask-size: contain;
      margin-left: 0;
      margin-right: 0;
    }
  }

  .top{
    border-radius: var(--bs-modal-border-radius) var(--bs-modal-border-radius) 0 0;
    margin-top: 0;

  }
  .bottom {
    border-radius: 0 0 var(--bs-modal-border-radius) var(--bs-modal-border-radius);
    border-bottom: none;
    margin-bottom: 0;

  }
  .offcanvas_logo {
    width: 200px;
  }
  .header_drinks_link,.header_user_link {

    text-decoration: none;
    cursor: pointer;
  }

  .header_drinks_box:hover, .header_user_box:hover {
    background-color:rgb(139, 132, 113);
    color: white;
  }

  .user_button_wrapper {
    /*width: var(--header-button-size);*/
    height: var(--header-button-size);
    color: var(--gold-text-color);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    background-color: transparent;
  }

  .user_button {
    width: var(--header-button-size);
    height: var(--header-button-size);
  }
  .nav_username{
    padding-left: 0.5rem;
    font-size: 1.2rem;
  }
  .user_button_wrapper:hover{
    color: white;
  }



  @media all and (max-width: 768px) {

    .nav_username{
      display: none;
    }
  }



  .user_modal {
    position: fixed;
    right: calc((100vw - var(--body-width )) / 2 + 5.5rem);
    top: 4rem;
    width: 10rem;
    padding: 0.5rem;
  }
  .user_modal_item{
    height: 3rem;
    /*border-bottom: 1px lightgray solid;*/
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: center;
    color: black;
    font-weight: bold;

  }
  .user_modal_item.top{
    border-radius: var(--bs-modal-border-radius) var(--bs-modal-border-radius) 0  0;
  }
  .user_modal_item.bottom{
    border-radius: 0  0 var(--bs-modal-border-radius) var(--bs-modal-border-radius);
  }
  .user_modal_item:hover{
    background-color: var(--gold-text-color);
    color: white;
  }
  .user_modal_link{
    text-decoration: none !important;
  }
  .offcanvas_category_img_wrapper{
    --offcanvas_category_img_width: 195px;
    --offcanvas_category_img_padding: 12px;
    position: relative;
    width: var(--offcanvas_category_img_width);
    height: var(--offcanvas_category_img_width);
    padding-top: var(--offcanvas_category_img_padding);
    padding-bottom: var(--offcanvas_category_img_padding);
  }
  @media all and (max-width: 399.98px) {

    .offcanvas_category_img_wrapper{
      --offcanvas_category_img_width: calc(50vw - 5px);
      --offcanvas_category_img_padding: 6px;

      padding-left: var(--offcanvas_category_img_padding);
      padding-right: var(--offcanvas_category_img_padding);
    }
  }
  .offcanvas_category_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .offcanvas_category_img_overlay{

    width: calc( var(--offcanvas_category_img_width) - 2 * var(--offcanvas_category_img_padding));
    height: calc( var(--offcanvas_category_img_width) - 2 * var(--offcanvas_category_img_padding));
    position: absolute;
    left: var(--offcanvas_category_img_padding);
    top: var(--offcanvas_category_img_padding);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    font-weight: bolder;
  }
  .offcanvas_category_img_overlay:hover{
    opacity: 1;
    background-color: #808080ba;


  }
  .offcanvas_category_link{
    color: black;
    /*font-weight: bolder;*/
    text-decoration: none;

  }


  .category_dropdown_modal{
    right: 14rem;
  }

  .header_text {

    /* mix-blend-mode: difference; */
    color: var(--header_text_color);
  }


  .header_features {
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: white;
    align-items: center;

  }
  .collapsable_items {
    display: flex;
    align-items: center;


  }
  .collapsable_item_link{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    text-decoration: none;
  }
  #navbarScrollingDropdown::after{
    display: none;
  }
  .header_dropdown_bar_button, .header_dropdown_x_button, .header_icon {
    color: black;
    font-size: 2rem;

  }


  .hamburger_button{
    width: 4rem;
    height: 4rem;
    background: var(--gold-text-color);
    border: 0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hamburger_button:hover, .hamburger_button:active{

    border: 2px solid white !important;
    background: var(--gold-text-color) !important;
  }
.yumtea_char {
  width: 40px;
  height: 52px;
}


