#home_brand_container {
    width: 60rem;
    height: 20rem;
    background-size: 100%;
    background-image: url("http://127.0.0.1:8001/yumtea_logo.png");
    -webkit-filter: drop-shadow(1px 1px 4px black);

}
#yumtea_logo {
    width: 100%;
    height: 100%;
    display:inline-block;
    background-color: var(--gold-text-color);
    -webkit-mask:url("http://127.0.0.1:8001/yumtea_logo.png");
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;

}


#home_bg {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-size: cover;

    background-image: url('http://127.0.0.1:8001/Black-Tea-History-1pc.jpg');
    background-position: center;
    opacity: 1;
    position: absolute;
    top: 0;
    left:0;
  
    display: flex;
    align-items: center;
    justify-content: center;
    
    z-index: 1050;
    text-shadow: 0 0 4px black;
    
  }
  .hide{
    opacity: 0 !important;
    transition: opacity 6s;
    z-index: 0;
  }
  .home {
    position: relative;
    width: 100vw;
    
  }
  
  .home_content {
    position: relative;
  }