.collection_wrapper{
    display: flex;
    flex-direction: column;
    background: url("./img/contentBg.jpg") center no-repeat;
    background-size: cover;
}
.collection_img {
    width: 100%;
    height: 50vh;
    background: url("http://127.0.0.1:8001/12typestea.jpg") center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 3rem;
    color: white;
    text-shadow: 0 0 4px black;

}
.category {
    display: flex;
    flex-direction: column;
}
.category_img {
    width: 100%;
    height: 40vh;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.category_label {
    font-size: 3rem;
    color: white;
    text-shadow: 0 0 4px black;
}
.blacktea {
    background: url("./img/EarlGrey.webp") center no-repeat;
    background-size: cover;
}
.menuitems_wrapper {
    --white-outline: 0.5rem;
    width: var(--body-width);
   
    display: flex;
    padding: var(--white-outline);
}
.menuitem_row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.menuitem_col{
    width: calc(100% / 3 - 1rem);
    margin: 0.5rem;

}
.menuitem_wrapper {
    --border-radius: 5px;
    display: flex;
    justify-content: space-between;
    border: rgb(196, 187, 187) 1px solid;
    border-radius: var(--border-radius);
    position: relative;

}
.menuitem_wrapper:hover {
    --border-color: rgb(109, 83, 113);
    border: var(--border-color) 1px solid;
    box-shadow: 0 0 5px var(--border-color)
}
.menuitem_text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
}
.menuitem_img_wrapper {

    width: 8rem;
    height: 8rem;
}
.menuitem_img {
    
    width: 100%;
    height: 100%;
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
}
/* .menuitem_title {
    text-align: center;
} */
.menuitem_plus_circle {
    width: 36px;
    height: 36px;
    background-color: white;
    border-radius: 50%;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;

    position: absolute;
    right: 0;
    bottom: 0;
    box-shadow: 0 0 5px rgb(152, 152, 152);
}
.menuitem_plus_circle:hover {
    background-color: #f9f9f9;
}
.customize_footer{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.customize_list {
    display: flex;
    flex-direction: column;
}
.customize_item {
    margin: 0.5rem 0;
    background-color: rgb(244, 240, 240);
    padding: 0.5rem 1rem;
}
.customize_item_choices{
    width: 100%;
    display: flex;
    margin: 0.25rem 0;
    
}
.customize_item_choice {
    width: 33%;
    margin-right: 0 !important;
}

.update_quantity{

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.update_quantity_wrapper{
    margin-left: 1rem;
    width: 7rem;
    height: 2.5rem;
    border: black solid 1px;
    display: flex;
    border-radius: 30px;
    
}
.minus_sign, .plus_sign {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 0;
    background-color: transparent;

}
.qty_box {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
