.collection_wrapper{
    display: flex;
    flex-direction: column;
    /*background: url("./img/contentBg.jpg") center no-repeat;*/
    background-size: cover;
}

.category {
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
}
.collection_header_wrapper{
    height: 30rem !important;
}
.category_wrapper, .collection_header_wrapper {

    height: 20rem;
    position: relative;
}
.category_img, .collection_img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.collection_img {
    opacity: 60%;
}
.category_label {
    position: absolute;
    top: 8px;
    left: 16px;

    font-size: 3rem;
    color: white;
    text-shadow: 0 0 4px black;
}
.collection_text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    color: black;
    text-shadow: 0 0 4px white;
}
/*@media all and  (max-width: 991.98px) {*/
/*    .collection_text{*/
/*        font-size: 2rem;*/
/*    }*/
/*}*/

.menuitems_wrapper {
    --white-outline: 0.5rem;
    width: var(--body-width);
   
    display: flex;
    padding: var(--white-outline);
}

.menuitem_row {
    width: var(--body-width);
    /*display: flex;*/
/*    flex-wrap: wrap;*/
}
/*.menuitem_col{*/
    /*width: calc(100% / 3 - 1rem);*/
    /*margin: 0.5rem;*/

/*}*/

.menuitem_wrapper {
    background-color: #f9f9f9;
    --border-radius: 5px;
    --menuitem_wrapper-height: 8rem;
    height: var(--menuitem_wrapper-height);
    display: flex;
    justify-content: space-between;
    border: rgb(196, 187, 187) 1px solid;
    border-radius: var(--border-radius);
    position: relative;

}
.menuitem_wrapper:hover {
    --border-color: rgb(90 53 49);;
    border: var(--border-color) 1px solid;
    box-shadow: 0 0 5px var(--border-color)
}
.menuitem_text{
    width: calc(100% - var(--menuitem_wrapper-height));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5rem;
    

}
.menuitem_img_wrapper {

    width: var(--menuitem_wrapper-height);
    /*height: var(--menuitem_wrapper-height);*/
    height: calc(var(--menuitem_wrapper-height) - 2px);
}
.menuitem_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
}
/* .menuitem_title {
    text-align: center;
} */
.menuitem_plus_circle {
    width: 36px;
    height: 36px;
    background-color: white;
    border-radius: 50%;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;

    position: absolute;
    right: 0;
    bottom: 0;
    box-shadow: 0 0 5px rgb(152, 152, 152);

    cursor: pointer;
}
.menuitem_plus_circle:hover {
    background-color: #f9f9f9;
}

.form-check-input {
    border: 1px solid #766d52;
}
.form-check-input:checked {
    background-color: #d1c089;
    border-color: #d1c089;;
}

.bestSeller_label{
    font-size: 3rem;
    text-align: center;
    margin: 1rem 0;
}
.bestSeller_label:before, .bestSeller_label:after
{
    margin-left: 35px;
    margin-right: 35px;
    content: '';
    display: inline-block;
    width: 110px;
    height: 1px;
    background: #918c85;
    transform: translateY(-1rem);
}
.yellow_container{
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    width: 5rem;
    height: 5rem;
}
.yellowbookmark {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: #ead25e;

}
.yellowtext{
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    width: 100%;
    height: 100%;
    font-size: 2rem;

}
.single_bestSeller_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.single_bestSeller_img_wrapper{
    width: 100%;
    height: calc(var(--body-width)* 0.22);
    position: relative;
    border-radius: 7px;
}
.single_bestSeller_img_wrapper:hover{
    --border-color: rgb(90 53 49);;
    border: var(--border-color) 2px solid;
    box-shadow: 0 0 1rem var(--border-color)
}
.single_bestSeller_whitebox{
    position: absolute;
    left: 1rem;
    bottom: 1rem;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 0.5rem;


}
.single_bestSeller_text {
    opacity: 1;
    color: black;
    font-size: 1.5rem;
}
.single_bestSeller_plus_circle {
    width: 3rem;
    height: 3rem;;
    background-color: white;
    border-radius: 50%;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    box-shadow: 0 0 5px rgb(152, 152, 152);
    cursor: pointer;
}
