.place_order_wrapper{
    margin: 2em;
}
.place_order_button, .place_order_button:active, .place_order_button:hover,
.continue_button, .continue_button:active, .continue_button:hover
{
    border-radius: var(--oblong-button-border-radius);
    border: transparent;
    padding: var(--oblong-button-padding);
    background-color: #d1c089 !important;
    color: white;
}


.place_order_button:active, .place_order_button:hover,
.continue_button:active, .continue_button:hover
{
    border-color: transparent;
    box-shadow: 0 0 5px black !important;
}
.order_history_wrapper{
    width: 100%;
    /* border: 1px gray solid; */
    padding: 2rem;
    background-color: rgb(191, 183, 160);
    
    /* padding: 1.5rem; */
    outline: 2px solid white;
    outline-offset: -0.5rem;
}
.order_history {

}
.order_history_filter{

}

.order_filter {
    display: flex;
    justify-content: flex-end;
    position: relative;
  
  }

  .order_filter_box {
    
    border: black 1px solid;
    background-color: white !important;
    color:black !important;
      width: 15rem;
height: 4rem !important;
/* padding-bottom:0.3rem !important;
padding-top:0 !important; */
      text-align: center; 
      
      
  }
.order_success {
    text-align: center;
    padding: 2rem;
}
.orderhistory_wrapper {
    /* border: black 1px solid; */
    width: 100%;
    padding: 1rem;
  }
  .orderhistory_order {
    display: flex;
    flex-direction: column;
    border-bottom: black 1px solid;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
  .orderhistory_order_container{
    display: flex;
  }
  .orderhistory_order_header {
    display: flex;
    flex-direction: row;
    
    width: 100%;
  }
  .orderhistory_order_col{
    width: 50%;
  }
  .orderhistory_order_header_l{
    width: 50%;
    display: flex;
    flex-direction: row;
  }
  .orderhistory_order_header_c{
    width:47%;
    display: flex;
    flex-direction: row;
    
  }
  .orderhistory_order_header_r{
    width:3%;
    text-align: right;
    cursor: pointer;
  }
  .orderhistory_order_img_container{
    position: relative;
    --img_width: 5rem;
    width: calc(var(--img_width) * 1.5);
    height: var(--img_width);
    /* display: flex; */
  }
  .orderhistory_order_img {
    width: var(--img_width);
    height: var(--img_width);
    object-fit: cover;
  }
  .qty_circle {
    width: calc(var(--img_width) /2);
    height: calc(var(--img_width) /2);
    border-radius: 50%;
    position:absolute;
    left: 3rem;
    top: 0rem;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
    border: black 1px solid;
    
    
    
  }
  .orderhistory_order_details {
    /* display: flex; */
  }
  .orderhistory_order_tip_wrapper {
    width: 100%;
    display: flex;
      flex-direction: column;
      align-items: flex-end;
  }
  .orderhistory_order_tip {
    width: 100px;
    display: flex;
      flex-direction: row;
      justify-content: space-between;
  }
  
  .singleorder_item{
    display: flex;
    padding-bottom: 1rem;
    
  }
  @media all and  (max-width: 767.98px) {
    .orderhistory_order_header_l, .orderhistory_order_header_c{
      
      flex-direction: column;
    }
  }