.customize_header{
    box-shadow: 0 0 6px rgb(144, 101, 101);
}
.customize_footer{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    box-shadow: 0 0 6px rgb(144, 101, 101);
}
.customize_list {
    display: flex;
    flex-direction: column;
}
.customize_img_wrapper {
    height: 10rem;
    display: flex;
    flex-direction: column;
}
.customize_img {
    object-fit: contain;
    height: 100%;
}
.customize_item {
    margin: 0.5rem 0;
    background-color: rgb(244, 240, 240);
    padding: 0.5rem 1rem;
}
.customize_item_choices{
    width: 100%;
    display: flex;
    margin: 0.25rem 0;
    
}
.customize_item_choice {
    width: 33%;
    margin-right: 0 !important;
    
}

.addtocart_button, .addtocart_button:active:enabled, .addtocart_button:hover:enabled,
.update_cart_button {
    border-radius: var(--oblong-button-border-radius);
    border: transparent;
    padding: var(--oblong-button-padding);
    background-color: #d1c089 !important;
    color: white;

    
}
.addtocart_button:active:enabled, .addtocart_button:hover:enabled,
.update_cart_button:active, .update_cart_button:hover
{
    border-color: transparent;
    box-shadow: 0 0 5px black !important;
}
.addtocart_button:disabled, .addtocart_button:hover:disabled, .addtocart_button:active:disabled
 {
  border: transparent;
  cursor: not-allowed;
  pointer-events: all !important;
  
}

.update_quantity{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.update_quantity_wrapper{
    margin-left: 1rem;
    width: 7rem;
    /* height: 2.5rem; */
    border: black solid 1px;
    display: flex;
    border-radius: var(--oblong-button-border-radius);
    padding-top: 0.5rem;
    padding-bottom:0.5rem;
    
}
.minus_sign, .plus_sign {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;

}
.qty_box {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
