.admin_full_wrapper{
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
    background-color: #ece8e8;


    min-width: 100vw;
    min-height: 100vh;
    /*min-width: 390px;*/
    display:flex;
    justify-content: center;
}
.admin_wrapper{
    width: 1400px;
    display: flex;

    /*border: solid 1px red;*/
}
.admin_left{
    width: 250px;

    /*border: 1px black solid;*/
}
.admin_right{
    width: 100%;
    margin: 4rem 0 2rem 2rem;
    /*background-color: #f9f9f9;*/
}
.sidebar {
    width: 100%;
}
.sidebar_box {
    width: 100%;
    height: 4rem;
    border-bottom: 1px black solid;
    padding: 0 1rem;
    display: flex;

    align-items: center;
    cursor: pointer;
}
.sidebar_box:hover, .sidebar_box:active {
    font-weight: bolder;
    background-color: #f9f9f9;

}
.manage_title {
    background-color: #918c85;
    color: white;
    padding: 1rem;
    box-shadow: 0 0 16px 0.25rem #85817a;
}

.manage_list {
    background-color: #f9f9f9;
}
.add_new {
    display: flex;
    align-items: center;
    padding-left: 6px;
}
.manage_list_title {
    background-color: #918c85;
    color: white;
    padding: 1rem 0;
    margin: 0;
}
.manage_list_row {
    border-bottom: 1px #c6ccd3 solid;
    /*height: 5rem;*/
    padding: 2rem 0;
    display: flex;
    align-items: center;
    margin: 0;
    position: relative;

}
.manage_list_row:hover {
    background-color: #f1f1f1;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}
.delete_btn, .update_btn {
    cursor: pointer;
}
.delete_confirm_btn {
    background-color:rgb(234, 229, 205);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
}
a {
    text-decoration: unset !important;
    color: black;
}