.App {
  text-align: center;
}
:root{

  --header_circle_btn: 2rem;
} 

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.nav_brand {
  font-size: 2rem;
  font-weight: bold;
  white-space: nowrap;
  text-decoration: none;
  color: black;
}
.header_wrapper {
  display: flex;
  align-items: center;
}

.nav_features {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
@media all and (max-width: 991.98px) {
  .nav_features{

    flex-direction: row-reverse;
    justify-content: unset;
  }
  
}
.nav_circles {
  display: flex;
  align-items: center;
}
.d_navbar {
  background-color: transparent !important;
}
.circle_button {
  font-size: calc(var(--header_circle_btn) * 0.5);
  color:#000;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  width: var(--header_circle_btn) !important; 
  height: var(--header_circle_btn) !important; 
}
