#App {
  /* text-align: center; */
  display:flex;
  width: 100vw;
  justify-content: center;
  min-width: 390px;

  position: relative;
  font-family: fangsong;
  background: url("http://127.0.0.1:8001/contentBg.jpg") center no-repeat;
    background-size: cover;
}

:root{
  --body-width: 1080px;
  --bs-tertiary-bg-rgb: 245, 237, 207;
  /* --bs-body-bg: rgba(242,241,237); */
  --bs-body-bg: white;
  /* --body_width: 1536px; */
  --header_circle_btn: 2rem;
  --header_padding: 2rem;

  --single_wine_margin: 2rem;
  --single_wine_img_width: 250px;
  --single_wine_img_pos: -170px;
  --singlewine_title_font_size: 3rem;
  --single_wine_img_height: 400px;
  /* --single_wine_details_width: calc(var(--single_wine_width) - var(--single_wine_img_width)); */
  --header_text_color: black;
  --header_height: 6rem;

  --cartitem_img_width: 100px;
  --cart_summary_width: 450px;
  --cart_summary_right: calc((100vw - 1536px) / 2);
  /* --cart_summary_top: 6rem/ */

  --hLink: 'http://127.0.0.1:8001';
  --gold-text-color: rgb(194, 159, 106);
  --gold-text-color-hover: rgb(138, 114, 77);
  --dark-brown-title: rgb(104, 95, 81);

  /* --oblong-button */
  --oblong-button-border-radius: 25px;
  --oblong-button-padding: 0.5rem 2rem;
  --oblong-button-border: 1px solid rgb(169, 166, 150) !important;
  --oblong-button-hover-box-shadow: 0 0 5px black !important;
} 

@media all and  (max-width: 1535.98px) {
  :root{
    --body_width: 100vw;
    --cart_summary_right: 0
  }
}
@media all and  (max-width: 389.98px) {
  :root{
    --body_width: 390px;
    /* --single_wine_details_width: calc( 100vw - var(--single_wine_margin) - var(--single_wine_img_width)) */
  }
}
@media all and  (max-width: 991.98px) {
  :root {
    --header_padding: 0.5rem;
    
  }
}
@media all and  (max-width: 1199.98px) {
  :root {
    
    --cart_summary_width: 250px;
  }
}

@media all and  (max-width: 767.98px) {
  :root{
    /* width: calc(358px * 250 / 640) */
    --single_wine_img_width: 140px;
    --single_wine_img_pos: -100px;
    --singlewine_title_font_size: 35px;
    --cart_summary_width: 90vw;
    --cart_summary_right: 5vw;
 
  }
}

.appbody {
  position: relative; 
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
    
    

}
.app_width{
  min-width: 390px;
  max-width: 1536px;
  width: var(--body_width);

}
.spinner {
  font-size: 2rem;
  
  width: 4rem;
  height: 4rem;
  color: white !important;
}

/* .full_spinner {
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color:black;
  z-index: 1041;

  
} */
 
.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.app_message {
  width: 100%;
  margin-bottom: 0;
  /* padding-bottom: 0.5rem;
  padding-top: 0.5rem; */
}
.message_container{
  position: fixed;
  top: 4rem;
  left: 0;
  z-index:1000;
  width: 100%;
}
/* .alert-dismissible {
  padding-top: 0.5rem;
  padding-right: 1rem;
} */

.content {
  margin-top: var(--header_height);
  width: var(--body-width);
}

.user_items {
  display: flex;
  align-items: center;
  
}
.d_navbar {
  background-color: transparent !important;
}
.circle_button {
  font-size: 2rem;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  color: black;

}
.gold_button, .red_button {
  background: #d1c089;
  border: 0px; 
  text-transform: uppercase;
  padding-left: 2rem;
  padding-right: 2rem;
text-shadow: 0px 0px 4px rgb(216, 215, 175);;
  /* width: 100%; */
  /* height: 36px; */
}

.gold_button.full {
  width: 100%;
}
.red_button {
  background:  #e74242;
}
.cart_container {
  width: var(--body_width);
  position: relative;
  border:1px pink solid;
}

.cart_summary, .checkout {
  
  /* width: var(--cart_summary_width); */
  min-width: 250px;
  margin-left: 1rem;
  margin-right: 1rem;
  border: 1px black solid;
  position: fixed;
  top: 8rem;
  bottom: unset;
  right: var(--cart_summary_right);
  padding: 1rem;
  background-color: var(--bs-body-bg);
  z-index: 200;
}
.checkout{
  position: unset !important;
  width: 500px;
}
.cart_summary {
  width: var(--cart_summary_width);
}
.tipbox_wrapper {
  display: flex;
  flex-direction: column;
}
.tipbox_container{
  display: flex;
  flex-direction: row;
  width: 100%;
  /* justify-content: space-between; */
  padding-top: 10px;
  
}
.tipbox {
  border: darkgray 1px solid;
  height: 2rem;
  display: flex;

  align-items: center;
  border-radius: 1rem;
  margin-right: 0.5rem;
}
.selected {
  border: none;
  background-color: #d1c089;
  color: white;
}
.tip_font {
  font-weight: bold;
  font-size: 1rem;
}
.custom_tip_font{
  position: absolute;
  top: -12px;
  left: 25px;
  background-color: white;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 12px;

}
.custom_tip_dollar{

}
.custom_tip_box {
  border: 1px black solid;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-top: 1.5rem;
  
}
.custom_tip_input {
  border: transparent !important;
  /* width: 90%; */
  height: 90%;
  font-size: 1rem;
  box-shadow: none !important;
}
.cart_summary_line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cart_summary_checkout {
  text-align: center;
  margin-top: 5rem;
}
.cart_cartitems{
  width: calc( var(--body_width) - var(--cart_summary_width) - 2rem);
}
.loading{    
  background-color: rgba(240, 241, 237, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1032;
}
.spinner_props {
  opacity: 1 !important;
  z-index: 1033;
  color: black;
  position: absolute;
  top: 45vh;
  left: 50vw;
}
.cartitem_container{
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
}
.white_film {
  position: absolute;
  background-color: rgb(249 249 249);
  opacity: 0.5;
  width: 100%;
  height: 100%;

}
.smoky_spinner {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.cartitem_img_wrapper{
  width: var(--cartitem_img_width);
}
.cartitem_img{
  width: var(--cartitem_img_width);
}
.cartitem_info{
  width: 100%;
  display: flex;
  flex-direction: row;
}
.cartitem_title {
  width: calc(100% / 2);

}
.cartitem_title_options{
  display: flex;
  flex-direction: column;
  width: 50%;
}
.cartitem_qty, .cartitem_price{
  width: calc(100% / 4);

}
.cartitem_price{
  text-align: right;

}
.gold_button:active, .gold_button:hover

{
  background-color: #a5904b !important;
  color: black;
}
.gold_button:disabled
 {
  background: #d1c089;
  opacity: 0.5;
  /* color: black; */
}
.cartitem_qty_input{
  display: flex;
    flex-direction: row;
}

@media all and (max-width: 991.98px) {
  .cart_cartitems {
    width: calc(var(--body_width) - var(--cart_summary_width) - 2rem)
  }
  .cartitem_info {
    flex-direction: column;
  }
  .cartitem_qty, .cartitem_price{
    padding-top: 2rem;
    text-align: left;
   
  }
  .cartitem_price, .cartitem_title_options, .cartitem_qty {
    width: 100%;
  }
}
@media all and (max-width: 767.98px) {
  .cart_summary {
    bottom: 1rem;
    top: unset;
    margin-left: 0;
  margin-right: 0;
  }
  .cart_cartitems{
    margin-bottom: 20rem;
    width: 100vw;
  }
  .cart_summary_checkout {
    
    margin-top: 1rem;
  }
}
.qty_minus, .qty_plus {
  width: 40px;
  height: 40px;
  border: #d1c089 1px solid;
  background-color: #d1c089;
  border-radius: 0;
}
.qty_minus {
  border-top-left-radius: var(--bs-border-radius)!important;
    border-bottom-left-radius: var(--bs-border-radius)!important;
}
.qty_plus {
  border-top-right-radius: var(--bs-border-radius)!important;
    border-bottom-right-radius: var(--bs-border-radius)!important;
}
.qty_minus:active, .qty_minus:hover,
.qty_plus:active, .qty_plus:hover {
  background-color: #937d36;
  color:white;
}
.qty_minus:disabled, .qty_plus:disabled{
  background-color: #937d36;
  opacity: 0.4;

}

.error_message {
  font-size: 11px;
  color: red
}
.qty_label{
  position: absolute;
  left: 14px;
  top: -8px;
  width: 30px;
  font-size: 10px;
  background-color: var(--bs-body-bg);
}
.low_inventory {
  
  color: red
}
.solid_link{
  text-decoration: unset !important;
  color:black;
  /* font-weight: bold; */
}
.added_message {
  position: absolute;
  left: 20%;
  top: 40px;
  width: 300px;
  /* font-size: 10px; */
  background-color: white;
  border: #d1c089 1px solid;
  color: black;
  padding: 1rem;
  filter: drop-shadow(0 0 0.75rem black);
}
.singlewine_wrapper, .location_wrapper, .reserve_wrapper{
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
    background-color: white;
  
}
.singlewine_bg_wrapper, .location_bg_wrapper, .reserve_bg_wrapper, .reservations_bg_wrapper {
  width: var(--body-width);
  height: calc(100vh * 0.5);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem;
}
.singlewine_bg {
  width: 100%;
  height: 50vh;
  object-fit: cover;
  filter: brightness(70%);
  background-color: black;
  z-index: 2;
}

.singlewine_title_cart_props_wrapper{
  display: flex;
  flex-direction: column;
 
}
.singlewine_img_pos_wrapper, .singlewine_title_pos_wrapper {
  display: flex;
  flex-direction: row;
  position: absolute;
  z-index: 100;
}
.singlewine_img_pos_wrapper {
  
  bottom: var(--single_wine_img_pos);
  
}
.singlewine_title_pos_wrapper {
  bottom: 0;
  padding-left: var(--single_wine_img_width);
}
.singlewine_title, .location_title, .reserve_title {
  font-size: var(--singlewine_title_font_size);
  color:white;
  text-shadow: 0px 0px 4px black;
}

.singlewine_img_wrapper{
  display: flex;
  justify-content: center;
  width: var(--single_wine_img_width);
  min-width: 140px !important;
  
}
.singlewine_title_img_visibility_wrapper{
  z-index: 100;
}

.singlewine_title_img_sm_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: -100px;
    left: 0;
   
}

.winelist_img_wrapper{
  display: flex;
  justify-content: center;
}
.winelist_img_wrapper{
  height: var(--single_wine_img_height);
}

.singlewine_img, .winelist_img {
  object-fit: contain;
}
.winelist_img {
  height: 100%;
}
.singlewine_img {
  width: 100%;
}
.singlewine_info_wrapper {
  display: flex;
  flex-direction: column;
}


.singlewine_props_wrapper {
  display: flex;
  list-style-type: none;
  width: 390px;

  padding-left: 0 !important;
  /* margin-bottom: 1rem; */
}
.singlewine_prop{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: #937d36 1px solid;
  color: white;
}
.single_item_customize {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: #937d36 1px solid;
  color: black;
}
.customize_milk{
  height: 4rem;
  position: relative;
}
.customize_milk_title {
  position: absolute;
  z-index: 100;
  left: 1rem;
  top: -0.7rem;
  width: 8rem;
  background-color: white;
  text-align: center;
}
.singlewine_desc_wrapper {
  padding-left: var(--single_wine_img_width);
  padding-right: 1rem;
}

.singlewine_cart {
  display: flex;
  flex-direction: row;
    align-items: center;
    color: white;
}
.singlewine_price{
  font-size: 1.5rem;
}
@media all and  (max-width: 575.98px) {

  .singlewine_title_pos_wrapper{
    bottom: -300px;
    padding-left: 0;
  }
  .singlewine_title_cart_props_wrapper {
    /* display: flex; */
    flex-direction: column;
    align-items: center;
  }
  .singlewine_title {

    text-align: center;
  }
  .singlewine_cart, .singlewine_prop {
    color: black;
    justify-content: center;
  }
  .singlewine_desc_wrapper{
    padding-left: 1rem;
  }
  .singlewine_title_img_sm_wrapper {
    width: 100%;
  }
  .singlewine_props_wrapper{
    padding-left: 1rem !important;
    padding-right: 1rem;
  }

}
.winelist_wine_wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.winelist_wine_title {
  display: flex;
  justify-content: center;
}

.login_form {
  /* background-color: white; */
}
.hello_user, .header_category {
  position: relative;
  color: black;
  display: flex;
  align-items: center;
}
.header_category_dropdown_wrapper {
  position:absolute;
  width: 150px;
  left: 0;
  z-index: 210;
  top: 1.3rem;
}
.header_category_dropdown {
  width: 100%;
  padding: 1rem;

  background-color: white;
  border: black 1px solid;
  border-radius: var(--bs-border-radius);
}
.category_title {
  font-size: 1.5rem;
}
.user_dropdown_wrapper {
  position:absolute;
  width: 150px;
  right: 0;
  z-index: 210;
  top: 1.5rem;

}

.user_dropdown {
  border: black 1px solid;
  width: 100%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: white;
  border-radius: var(--bs-border-radius);
}
@media all and  (max-width: 991.98px) {
  /* .user_dropdown_wrapper {
    position:unset;
  width: 100%;
  text-align: center;
  
  }
  .user_dropdown{
    background-color:#d1c089;
    border: 0;

  } */
  .header_user_dropdown {
    width: 100%;
    
  display: flex;
  flex-direction: column;
    align-items: center;
  }
  .header_category_dropdown {
    text-align: center;
    width: 100vw;
    padding: 0;
    background-color:#d1c089;
    border: 0;
  }
  .collapsable_item_link {
    padding-top: 1rem;
  }
}
.orderhistory_wrapper {
  /* border: black 1px solid; */
  width: 100%;
  padding: 1rem;
}
.orderhistory_order {
  display: flex;
  flex-direction: column;
  border-bottom: black 1px solid;
  padding-bottom: 1rem;
  padding-top: 1rem;
}
.orderhistory_order_container{
  display: flex;
}
.orderhistory_order_header {
  display: flex;
  flex-direction: row;
  
  width: 100%;
}
.orderhistory_order_col{
  width: 50%;
}
.orderhistory_order_header_l{
  width: 50%;
  display: flex;
  flex-direction: row;
}
.orderhistory_order_header_c{
  width:47%;
  display: flex;
  flex-direction: row;
  
}
.orderhistory_order_header_r{
  width:3%;
  text-align: right;
  cursor: pointer;
}
.orderhistory_order_img_container{
  position: relative;
  width: 7.5rem;
  min-width: 7.5rem;
  max-width: 7.5rem;
  display: flex;
}
.orderhistory_order_img {
  width: 60px;
}
.orderhistory_order_details {
  /* display: flex; */
}
.orderhistory_order_tip_wrapper {
  width: 100%;
  display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.orderhistory_order_tip {
  width: 100px;
  display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.qty_circle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: beige;
  border: black 1px solid;
  
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  width: calc(var(--bs-body-font-size) * 2);
  height: calc(var(--bs-body-font-size) * 2);
  border-radius: 50%;
  position:absolute;
  left: 3rem;
    top: 0.5rem;
  
}
.singleorder_item{
  display: flex;
}
@media all and  (max-width: 767.98px) {
  .orderhistory_order_header_l, .orderhistory_order_header_c{
    
    flex-direction: column;
  }
}
.order_filter_container {
  display: flex;
  justify-content: flex-end;
  position: relative;

}
.order_filter_title {
  position: absolute;
  top: -0.75rem;
  right:5rem;
  background-color: white;
  padding-left:0.5rem;
  padding-right:0.5rem;
}
.order_filter_box {
  
  border: black 1px solid;
  background-color: white !important;
  color:black !important;
    width: 12rem;
    padding: 1rem;
    text-align: left; 
    height: 3.5rem;
    
}
.order_filter_choices {
  position: absolute;
  border: black 1px solid;
    width: 12rem;
    padding: 0.5rem;
     /* text-align: left;  */
    top: 3.5rem;
    background-color: white;
}
.order_filter_choice{
  display: flex;
  padding: 0.5rem;
}
.order_filter_choice:hover {
  background-color: bisque;
}

