.App {
  text-align: center;
}
:root{

  --header_circle_btn: 2rem;
} 

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.nav_brand {
  font-size: 2rem;
  font-weight: bold;
  white-space: nowrap;
  text-decoration: none;
  color: black;
}
.header_wrapper {
  display: flex;
  align-items: center;
}

.nav_features {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
@media all and (max-width: 991.98px) {
  .nav_features{

    flex-direction: row-reverse;
    justify-content: unset;
  }
  
}
.nav_circles {
  display: flex;
  align-items: center;
}
.d_navbar {
  background-color: transparent !important;
}
.circle_button {
  font-size: calc(var(--header_circle_btn) * 0.5);
  color:#000;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  width: var(--header_circle_btn) !important; 
  height: var(--header_circle_btn) !important; 
}
.purchase_button{
  background: #d1c089;
  border: 0px 
}
.cart_button {
  background: #d1c089;
  border: 0px solid #000;
  padding: 10px 20px;
  text-transform: uppercase;
  letter-spacing: 0.04rem;
  color: #3a2f37;
  /* width: auto; */
}
.cart_button:active, .cart_button:hover, .cart_button:focus-visible,
.purchase_button:active, .purchase_button:hover, .purchase_button:focus-visible
 {
  
  background-color: #d1c089 !important;
  border: 0px;
  /* background: #d1c089; */
  opacity: 0.75; 
}
.cart_a {
  display: flex;
  flex-direction: row;
  align-items: center;

}
.cart_b {
  display: flex;
  height: 200px;
  min-height: 200px;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
.cart_c {
  display: flex;
  flex-direction: column;
}
.cart_d {
  display: flex;
}
.cart_e {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cart_f {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.cart_g {
  margin-top: 0rem;
}
@media all and (max-width: 767.98px) {
  .cart_g{
    margin-top: 2rem;

  }
  
}
.cart_h {
  display: flex;
}.cart_i {
  display: flex;
  flex-direction: column;
    align-items: flex-end;
}
.qty_minus, .qty_plus {
  width: 40px;
  height: 40px;
  border: #d1c089 1px solid;
  background-color: #d1c089;
  border-radius: 0;
}
.qty_minus {
  border-top-left-radius: var(--bs-border-radius)!important;
    border-bottom-left-radius: var(--bs-border-radius)!important;
}
.qty_plus {
  border-top-right-radius: var(--bs-border-radius)!important;
    border-bottom-right-radius: var(--bs-border-radius)!important;
}
.qty_minus:active, .qty_minus:hover,
.qty_plus:active, .qty_plus:hover {
  background-color: #937d36;
  color:white;
}
.qty_minus:disabled{
  background-color: #d1c089;;

}
.qty_box {
  width: 45px;
  height: 40px;
  border-radius: unset !important;
}
.error_message {
  font-size: 11px;
  color: red
}
.qty_label{
  position: absolute;
  left: 7px;
  top: -8px;
  width: 30px;
  font-size: 10px;
  background-color: white;
}
.low_inventory {
  
  color: red
}
.solid_link{
  text-decoration: unset !important;
  color:black;
  font-weight: bold;
}