.login_wrapper {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    width: 390px;
    /*. border: 1px black solid;*/
    margin: 2rem;
    padding: 1rem;
    --border-color: rgb(90 53 49);;
    border: var(--border-color) 1px solid;
    box-shadow: 0 0 5px var(--border-color)



}
@media all and  (max-width: 389.98px) {
    .login_wrapper{
        width: 100vw;
    }

}
.login {
    margin: 5rem;
    width: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
.login_form, .signup_form {
    width: 100%
}
.inpurbox_error {
    color: red;
}
.password_eye_box {
    display:flex;
    flex-direction: row;
    position: relative;
}
/*.password_eye_box.focus {*/
/*    border: red 3px solid;*/
/*    border-radius: 10px;*/
/*}*/

.password_input {
    /*width: 85%;*/
    /*border-radius: var(--bs-border-radius) 0 0 var(--bs-border-radius);*/

}
.password_input:focus {
    border: 0;
}

.password_eye {
    position: absolute;
    top: 0;
    right: 0;
    height: calc(3.5rem + calc(var(--bs-border-width)* 2));
     width: 15%;
     cursor: pointer;
     justify-content: center;
     border-radius: 0 var(--bs-border-radius)  var(--bs-border-radius) 0;
 }

    .signin_button, .signin_button:active:enabled, .signin_button:hover:enabled,
    .signup_button
    {
        border-radius: var(--oblong-button-border-radius);
        border: transparent;
        padding: var(--oblong-button-padding);
        background-color: #d1c089 !important;
        color: white;
        min-width: 8rem !important;
        margin-bottom: 1rem;


    }
    .signin_button:active:enabled, .signin_button:hover:enabled,
    .signup_button:active, .signup_button:hover
    {
        border-color: transparent;
        box-shadow: 0 0 5px black !important;

    }
    .signin_button:disabled, .signin_button:hover:disabled, .signin_button:active:disabled
    {
        border: transparent;
        cursor: not-allowed;
        pointer-events: all !important;

    }
    .signup_button {
        margin-top:3rem;
    }

    .full_spinner {
        width: 100vw;
        height: 100vh;

        display: flex;
        justify-content: center;
        align-items: center;
        color:black;
        /* z-index: 1041; */


    }
